{% extends "layout.html" %}
{% block content %}

{% if session.username %}
<p>Logged in as {{ session.username }}</p>

<form action="/create" method="POST">
    <p>Name of the food:<br>
    <input type="text" name="name"></p>
    <p>Type of food:<br>
    <input type="radio" name="type" value="Breakfast" checked>Breakfast
    <input type="radio" name="type" value="Meal">Meal
    <input type="radio" name="type" value="Snack">Snack
    <input type="radio" name="type" value="Dessert">Dessert</p>
    <p>How long will it take to make? <br>
    <input type="number" name="cooktime"></p>
    <p>Cost:<br>
    <input type="radio" name="price" value="cheap" checked>Cheap
    <input type="radio" name="price" value="expensive">Expensive</p>
    <p>What type of diet does this food fit?<br>
    <input type="checkbox" name="diet" value="Vegan">Vegan
    <input type="checkbox" name="diet" value="Gluten free">Gluten free
    <input type="checkbox" name="diet" value="No dairy">Dairy free
    <input type="checkbox" name="diet" value="Meat">Meat
    <input type="checkbox" name="diet" value="Fish">Fish</p>
    <p>Describe this food (less than 300 characters):<br>
    <input type="text" name="description"></p>
    <input type="submit" value="Submit recipe">

    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

{% else %}
<p>Please log in or create an account first:</p>
<a href="/login">Login</a>
<a href="/register">Register</a>
{% endif %}
<br><a href="/">Return to main page</a>

{% endblock %}