{% extends "layout.html" %}
{% block content %}

<a href="/">Return to main page</a>
{% if session.username %}
<div class="greeting">
    <p>Hi {{ session.username }}!</p>
</div>
<a href="/logout">Log out</a>
<p>Here are the foods you have posted!</p>
<hr>
{% for item in recipe %}
<div class="profile">
    <a href="/recipe/{{ item[0] }}">{{ item[1] }}</a>
</div>
<hr>
{% endfor %}
<p>Here are your favorites!</p>
<hr>
{% for item in faves %}
<div class="profile">
    <a href="/recipe/{{ item[0] }}">{{ item[1] }}</a>
</div>
<hr>
{% endfor %}
{% else %}
<p>You are currently not logged in. To view your profile, please log in first:</p>
<a href="/login">Login</a>
<a href="/register">Register</a>
{% endif %}

{% endblock %}