{% extends "layout.html" %}
{% block content %}

<hr>
{% for item in recipe %}
Name: {{ item[2] }}
Type: {{ item[3] }}
Cooktime: {{ item[4] }}
Price: {{ item[5] }} <br>
Diets: {{ item[7] }} <br>
Description: {{ item[6] }}
<hr>
Like this recipe?<br>
<form action="/favorite" method="POST">
    <input type="submit" value="Save to favorites">
    <input type="hidden" name="id" value="{{ item[0] }}">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<a href="/recipe/{{ item[0] }}/voting">Vote here!</a> <br>
Current score from votes:
{{ current_votes[0] }} <br>
<a href="/allrecipes">Return to list</a>
<a href="/">Return to main page</a> <br>

<a href="/recipe/{{ item[0] }}/comment">Post a new comment:</a> <br>
{% endfor %}
<hr>
{% for comment in discussion %}
Posted by: {{ comment[1] }} <br>
{{ comment[2] }} <br>
<hr>
{% endfor %}

{% endblock %}